@import "tailwindcss";
@plugin 'daisyui' {
	themes: light --default;
}


@plugin 'daisyui/theme' {
	name: 'light';
	default: true;
	--color-primary: blue;
	--color-secondary: teal;
}


:root {
	--color1: white;
	--color2: black;
	--color3: gray;
	--color4: rgb(0, 58, 19);
	--color41: rgb(0, 97, 32);
	--color42: rgb(117, 255, 163);
}




